openapi: 3.1.0
info:
  title: 7shifts API
  version: '2.0'
  description: >-
    7shifts employee scheduling and team management REST API. Only endpoints whose
    paths, methods, and parameters were explicitly confirmed from the 7shifts
    developer reference are listed below.
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
servers:
  - url: https://api.7shifts.com
    description: 7shifts API production base URL
tags:
  - name: OAuth
    description: Token issuance for Partner OAuth applications.
  - name: Companies
    description: Company resources for 7shifts accounts.
  - name: Users
    description: User (employee) resources scoped to a company.
paths:
  /oauth2/token:
    post:
      tags:
        - OAuth
      summary: Issue an OAuth 2.0 access token
      description: >-
        Issues an access token using one of the supported OAuth 2.0 grant types
        (client_credentials, password, authorization_code, refresh_token).
      responses:
        '200':
          description: Token created
        '500':
          description: Unexpected error
  /v2/companies:
    get:
      tags:
        - Companies
      summary: List companies
      parameters:
        - name: modified_since
          in: query
          required: false
          description: Return companies that have been modified since the specified date (YYYY-MM-DD).
          schema:
            type: string
        - name: x-api-version
          in: header
          required: false
          description: 7shifts API version.
          schema:
            type: string
        - name: x-company-guid
          in: header
          required: false
          description: Company GUID.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server error
      security:
        - bearerAuth: []
  /v2/company/{company_id}/users/{identifier}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      parameters:
        - name: company_id
          in: path
          required: true
          description: Company ID.
          schema:
            type: integer
            format: int64
        - name: identifier
          in: path
          required: true
          description: >-
            User identifier. Accepts either a 7shifts user ID or a punch ID with
            the prefix "punch:".
          schema:
            type: string
        - name: include_inactive
          in: query
          required: false
          description: Include inactive users in the response.
          schema:
            type: boolean
        - name: x-api-version
          in: header
          required: false
          description: 7shifts API version.
          schema:
            type: string
        - name: x-company-guid
          in: header
          required: false
          description: Company GUID.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
