openapi: 3.1.0
info:
  title: 7shifts Availability Time Punches API
  version: '2.0'
  description: 7shifts is a restaurant employee scheduling, time-tracking, and team management platform. The 7shifts API v2 is a REST API for managing companies, locations, departments, roles, users (employees), schedules, shifts, time punches, wages, time off, availability, sales receipts, forecasts, tasks, tip pools, and webhooks. Authentication uses Bearer access tokens for internal access or OAuth 2.0 client credentials for partner integrations. Endpoints documented here were confirmed from the 7shifts developer reference (developers.7shifts.com) and its llms.txt index. Most resources are scoped to a company via the /v2/company/{company_id} path prefix. Collection endpoints use cursor-based pagination via the cursor and limit query parameters. Date-based API versions are selected with the x-api-version header (YYYY-MM-DD).
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
  license:
    name: 7shifts API Terms
    url: https://www.7shifts.com/legal/terms-of-service
servers:
- url: https://api.7shifts.com
  description: 7shifts API production base URL
tags:
- name: Time Punches
  description: Clock-in and clock-out time tracking records.
paths:
  /v2/company/{company_id}/time_punches:
    get:
      tags:
      - Time Punches
      operationId: listTimePunches
      summary: List Time Punches
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - name: location_id
        in: query
        required: false
        description: Filter by location.
        schema:
          type: integer
          format: int64
      - name: department_id
        in: query
        required: false
        description: Filter by department.
        schema:
          type: integer
          format: int64
      - name: user_id
        in: query
        required: false
        description: Filter by user.
        schema:
          type: integer
          format: int64
      - name: approved
        in: query
        required: false
        description: Filter by approval status.
        schema:
          type: boolean
      - name: clocked_in[gte]
        in: query
        required: false
        description: Filter by clock-in time greater than or equal to (ISO8601).
        schema:
          type: string
          format: date-time
      - name: clocked_in[lte]
        in: query
        required: false
        description: Filter by clock-in time less than or equal to (ISO8601).
        schema:
          type: string
          format: date-time
      - name: modified_since
        in: query
        required: false
        description: Return time punches modified after the specified datetime.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimePunch'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'
      security:
      - bearerAuth: []
    post:
      tags:
      - Time Punches
      operationId: createTimePunch
      summary: Create Time Punch
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimePunch'
      responses:
        '201':
          description: Created
      security:
      - bearerAuth: []
  /v2/company/{company_id}/time_punches/{time_punch_id}:
    get:
      tags:
      - Time Punches
      operationId: retrieveTimePunch
      summary: Retrieve Time Punch
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - name: time_punch_id
        in: path
        required: true
        description: Time punch identifier.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimePunch'
        '404':
          description: Not found
      security:
      - bearerAuth: []
components:
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: Pagination cursor for the next or previous page.
      schema:
        type: string
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      description: Company identifier.
      schema:
        type: integer
        format: int64
    Limit:
      name: limit
      in: query
      required: false
      description: Results per page (1-500, default 100; 20 for some collections).
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 100
  schemas:
    Break:
      title: Break
      type: object
      properties:
        id:
          type: integer
          format: int64
        in:
          type: string
          format: date-time
        out:
          type: string
          format: date-time
          nullable: true
        paid:
          type: boolean
    CursorMeta:
      title: Cursor Meta
      type: object
      description: Cursor-based pagination metadata.
      properties:
        cursor:
          type: object
          properties:
            current:
              type: string
            next:
              type: string
              nullable: true
            prev:
              type: string
              nullable: true
        count:
          type: integer
    TimePunch:
      title: Time Punch
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        location_id:
          type: integer
          format: int64
        department_id:
          type: integer
          format: int64
        role_id:
          type: integer
          format: int64
        clocked_in:
          type: string
          format: date-time
          description: Clock-in timestamp (UTC, ISO8601).
        clocked_out:
          type: string
          format: date-time
          nullable: true
          description: Clock-out timestamp (UTC, ISO8601).
        approved:
          type: boolean
        hourly_wage:
          type: integer
          description: Calculated wage in cents.
        tips:
          type: integer
          description: Declared tips in cents.
        auto_clocked_out:
          type: boolean
        deleted:
          type: boolean
        breaks:
          type: array
          items:
            $ref: '#/components/schemas/Break'
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
