openapi: 3.2.0
info:
  title: 7shifts Availability API
  version: '2.0'
  description: 7shifts is a restaurant employee scheduling, time-tracking, and team management platform.
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
  license:
    name: 7shifts API Terms
    url: https://www.7shifts.com/legal/terms-of-service
servers:
- url: https://api.7shifts.com
  description: 7shifts API production base URL
tags:
- name: Availability
  description: Employee availability records.
paths:
  /v2/company/{company_id}/availability:
    get:
      tags:
      - Availability
      operationId: listAvailabilities
      summary: List Availabilities
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - name: user_id
        in: query
        required: false
        description: Filter by user.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Availability'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'
      security:
      - bearerAuth: []
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Results per page (1-500, default 100; 20 for some collections).
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 100
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      description: Company identifier.
      schema:
        type: integer
        format: int64
    Cursor:
      name: cursor
      in: query
      required: false
      description: Pagination cursor for the next or previous page.
      schema:
        type: string
  schemas:
    CursorMeta:
      title: Cursor Meta
      type: object
      description: Cursor-based pagination metadata.
      properties:
        cursor:
          type: object
          properties:
            current:
              type: string
            next:
              type: string
              nullable: true
            prev:
              type: string
              nullable: true
        count:
          type: integer
    Availability:
      title: Availability
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        status:
          type: string
        week_type:
          type: string
          enum:
          - all
          - even
          - odd
        availability:
          type: object
          description: Per-weekday availability windows.
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
