openapi: 3.2.0
info:
  title: 7shifts OAuth API
  version: '2.0'
  description: 7shifts is a restaurant employee scheduling, time-tracking, and team management platform.
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
  license:
    name: 7shifts API Terms
    url: https://www.7shifts.com/legal/terms-of-service
servers:
- url: https://api.7shifts.com
  description: 7shifts API production base URL
tags:
- name: OAuth
  description: Token issuance for Partner OAuth applications.
paths:
  /oauth2/token:
    post:
      tags:
      - OAuth
      operationId: createOAuthToken
      summary: Create OAuth Token
      description: Issues an access token using one of the supported OAuth 2.0 grant types (client_credentials, password, authorization_code, refresh_token).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
      responses:
        '200':
          description: Token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Bad request
        '401':
          description: Invalid client credentials
        '500':
          description: Unexpected error
components:
  schemas:
    OAuthTokenRequest:
      title: OAuth Token Request
      type: object
      properties:
        grant_type:
          type: string
          enum:
          - client_credentials
          - password
          - authorization_code
          - refresh_token
        client_id:
          type: string
        client_secret:
          type: string
        refresh_token:
          type: string
      required:
      - grant_type
    OAuthTokenResponse:
      title: OAuth Token Response
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
        refresh_token:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
