openapi: 3.2.0
info:
  title: 7shifts Webhooks API
  version: '2.0'
  description: 7shifts is a restaurant employee scheduling, time-tracking, and team management platform.
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
  license:
    name: 7shifts API Terms
    url: https://www.7shifts.com/legal/terms-of-service
servers:
- url: https://api.7shifts.com
  description: 7shifts API production base URL
tags:
- name: Webhooks
  description: Company-level webhook subscriptions.
paths:
  /v2/company/{company_id}/webhooks:
    get:
      tags:
      - Webhooks
      operationId: listWebhooks
      summary: List Webhooks
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
      security:
      - bearerAuth: []
    post:
      tags:
      - Webhooks
      operationId: createWebhook
      summary: Create Webhook
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '201':
          description: Created
      security:
      - bearerAuth: []
components:
  schemas:
    Webhook:
      title: Webhook
      type: object
      properties:
        id:
          type: integer
          format: int64
        webhook_url:
          type: string
          format: uri
        event_type:
          type: string
          description: The event that triggers this webhook.
        active:
          type: boolean
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
  parameters:
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      description: Company identifier.
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
