openapi: 3.2.0
info:
  title: 7shifts Reporting API
  version: '2.0'
  description: 7shifts is a restaurant employee scheduling, time-tracking, and team management platform.
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
  license:
    name: 7shifts API Terms
    url: https://www.7shifts.com/legal/terms-of-service
servers:
- url: https://api.7shifts.com
  description: 7shifts API production base URL
tags:
- name: Reporting
  description: Sales, labor, and worked-hours reporting.
paths:
  /v2/company/{company_id}/reports/daily_sales_and_labor:
    get:
      tags:
      - Reporting
      operationId: retrieveDailySalesAndLabor
      summary: Retrieve Daily Sales And Labor
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - name: location_id
        in: query
        required: false
        description: Filter by location.
        schema:
          type: integer
          format: int64
      - name: start_date
        in: query
        required: false
        description: Start date (YYYY-MM-DD).
        schema:
          type: string
      - name: end_date
        in: query
        required: false
        description: End date (YYYY-MM-DD).
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
components:
  parameters:
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      description: Company identifier.
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
