openapi: 3.2.0
info:
  title: 7shifts Locations API
  version: '2.0'
  description: 7shifts is a restaurant employee scheduling, time-tracking, and team management platform.
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
  license:
    name: 7shifts API Terms
    url: https://www.7shifts.com/legal/terms-of-service
servers:
- url: https://api.7shifts.com
  description: 7shifts API production base URL
tags:
- name: Locations
  description: Physical restaurant locations within a company.
paths:
  /v2/company/{company_id}/locations:
    get:
      tags:
      - Locations
      operationId: listLocations
      summary: List Locations
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'
        '403':
          description: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Locations
      operationId: createLocation
      summary: Create Location
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '403':
          description: Forbidden
      security:
      - bearerAuth: []
  /v2/company/{company_id}/locations/{location_id}:
    get:
      tags:
      - Locations
      operationId: retrieveLocation
      summary: Retrieve Location
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - $ref: '#/components/parameters/LocationIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Location'
        '404':
          description: Not found
      security:
      - bearerAuth: []
components:
  schemas:
    CursorMeta:
      title: Cursor Meta
      type: object
      description: Cursor-based pagination metadata.
      properties:
        cursor:
          type: object
          properties:
            current:
              type: string
            next:
              type: string
              nullable: true
            prev:
              type: string
              nullable: true
        count:
          type: integer
    Location:
      title: Location
      type: object
      properties:
        id:
          type: integer
          format: int64
        company_id:
          type: integer
          format: int64
        name:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        zip:
          type: string
        timezone:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
  parameters:
    ApiVersionHeader:
      name: x-api-version
      in: header
      required: false
      description: 7shifts API version (YYYY-MM-DD).
      schema:
        type: string
    LocationIdPath:
      name: location_id
      in: path
      required: true
      description: Location identifier.
      schema:
        type: integer
        format: int64
    Cursor:
      name: cursor
      in: query
      required: false
      description: Pagination cursor for the next or previous page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Results per page (1-500, default 100; 20 for some collections).
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 100
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      description: Company identifier.
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
