openapi: 3.1.0
info:
  title: 7shifts Availability Wages API
  version: '2.0'
  description: 7shifts is a restaurant employee scheduling, time-tracking, and team management platform. The 7shifts API v2 is a REST API for managing companies, locations, departments, roles, users (employees), schedules, shifts, time punches, wages, time off, availability, sales receipts, forecasts, tasks, tip pools, and webhooks. Authentication uses Bearer access tokens for internal access or OAuth 2.0 client credentials for partner integrations. Endpoints documented here were confirmed from the 7shifts developer reference (developers.7shifts.com) and its llms.txt index. Most resources are scoped to a company via the /v2/company/{company_id} path prefix. Collection endpoints use cursor-based pagination via the cursor and limit query parameters. Date-based API versions are selected with the x-api-version header (YYYY-MM-DD).
  contact:
    name: 7shifts Developer Portal
    url: https://developers.7shifts.com/reference/introduction
  license:
    name: 7shifts API Terms
    url: https://www.7shifts.com/legal/terms-of-service
servers:
- url: https://api.7shifts.com
  description: 7shifts API production base URL
tags:
- name: Wages
  description: Hourly and salary wage records for users.
paths:
  /v2/company/{company_id}/users/{user_id}/wages:
    get:
      tags:
      - Wages
      operationId: listUserWages
      summary: List User Wages
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wage'
        '404':
          description: Not found
      security:
      - bearerAuth: []
    post:
      tags:
      - Wages
      operationId: createUserWage
      summary: Create User Wage
      parameters:
      - $ref: '#/components/parameters/CompanyIdPath'
      - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Wage'
      responses:
        '201':
          description: Created
      security:
      - bearerAuth: []
components:
  schemas:
    Wage:
      title: Wage
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        role_id:
          type: integer
          format: int64
        wage_type:
          type: string
          enum:
          - hourly
          - weekly_salary
          - annual_salary
        wage_cents:
          type: integer
          description: Wage amount in cents.
        effective_date:
          type: string
          format: date
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
  parameters:
    UserIdPath:
      name: user_id
      in: path
      required: true
      description: User identifier.
      schema:
        type: integer
        format: int64
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      description: Company identifier.
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from /oauth2/token passed as a Bearer token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 with client_credentials, password, authorization_code, and refresh_token grant types.
      flows:
        clientCredentials:
          tokenUrl: https://api.7shifts.com/oauth2/token
          scopes: {}
